{% extends 'layout.html.twig' %}

{% block title %}
    Experts    
{% endblock %}

{% block body %}
<!-- Hero section with background image, heading, subheading and button -->
<div
class="relative overflow-hidden bg-cover bg-no-repeat"
style="
  background-position: 50%;
  background-image: url('https://tecdn.b-cdn.net/img/new/slides/146.webp');
  height: 350px;
">
<div
  class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-fixed"
  style="background-color: rgba(0, 0, 0, 0.75)">
  <div class="flex h-full items-center justify-center">
    <div class="px-6 text-center text-white md:px-12">
      <h1 class="mb-6 text-5xl font-bold">Trouvez des experts en IA </h1>
      <button
        type="button"
        class="inline-block rounded border-2 border-neutral-50 px-6 pb-[6px] pt-2 text-xs font-medium uppercase leading-normal text-neutral-50 transition duration-150 ease-in-out hover:border-neutral-100 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-neutral-100 focus:border-neutral-100 focus:text-neutral-100 focus:outline-none focus:ring-0 active:border-neutral-200 active:text-neutral-200 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10"
        data-te-ripple-init
        data-te-ripple-color="light">
        Get started
      </button>
    </div>
  </div>
</div>
</div>

<div class="container my-24 mx-auto md:px-6">
  <!-- Section: Design Block -->
  <section class="mb-32 text-left" id="produit-container">
    <h2 class="mb-12 text-center text-3xl font-bold">
    Olona's Selection: The Best Expertise Solutions
    </h2>
    <div class="flex flex-wrap justify-center">
    <!--Button trigger vertically centered scrollable modal-->
      <button
      type="button"
      data-te-toggle="modal"
      data-te-target="#exampleModalCenteredScrollable"
      data-te-ripple-init
      data-te-ripple-color="light"
      class="flex items-center rounded-full bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 3c2.755 0 5.455.232 8.083.678.533.09.917.556.917 1.096v1.044a2.25 2.25 0 01-.659 1.591l-5.432 5.432a2.25 2.25 0 00-.659 1.591v2.927a2.25 2.25 0 01-1.244 2.013L9.75 21v-6.568a2.25 2.25 0 00-.659-1.591L3.659 7.409A2.25 2.25 0 013 5.818V4.774c0-.54.384-1.006.917-1.096A48.32 48.32 0 0112 3z" />
      </svg>
      Filter
      </button>
    </div>
      <div class="flex flex-wrap mt-3 space-y-4 produit-item">
      {% include 'components/identities/_identities.html.twig' with {'identities': identities} %}
      <div id="loader" style="display:none;">
        <!-- Vous pouvez mettre une image ou une animation CSS ici -->
        Chargement...
      </div>
      </div>

  </section>
</div>
{% include 'components/modal/_expertForm.html.twig' with {'form' : form } %}
<script src="{{ asset('assets/js/loadMoreExpert.js') }}"></script>

{% endblock %}
    