<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>
      {% block title %}
        {{ 'dashboard.title'|trans }}
      {% endblock %}
    </title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </head>
  <body class="dark:bg-zinc-800">

    <!--Main Navigation-->
    <header>
      {% include "dashboard/expert/_sidenav.html.twig" %}
      {% include "dashboard/expert/_navbar.html.twig" with {
        identity: identity
      } %}
    </header>
    <!--Main Navigation-->

    <!--Main layout-->
    <main style="margin-top: 58px">
      <div class="container">
        {% block body %}{% endblock %}
      </div>
    </main>
    <!--Main layout-->

    {% include "dashboard/expert/_footer.html.twig" %}
  </body>
  <script text="javascript">

    const sidenav = document.getElementById("full-screen-example");
    const sidenavInstance = Sidenav.getInstance(sidenav);
    
    let innerWidth = null;
    
    const setMode = (e) => {
      // Check necessary for Android devices
      if (window.innerWidth === innerWidth) {
        return;
      }
    
      innerWidth = window.innerWidth;
    
      if (window.innerWidth < sidenavInstance.getBreakpoint("sm")) {
        sidenavInstance.changeMode("over");
        sidenavInstance.hide();
      } else {
        sidenavInstance.changeMode("side");
        sidenavInstance.show();
      }
    };
    
    if (window.innerWidth <script sidenavInstance.getBreakpoint("sm")) {
      setMode();
    }
    
    // Event listeners
    window.addEventListener("resize", setMode);
    
    document
    .getElementById("slim-toggler")
    .addEventListener("click", () => {
      const instance = Sidenav.getInstance(
        document.getElementById("sidenav-4")
      );
      instance.toggleSlim();
    });
  </script>
</html>
