<footer class="bg-gray-900 py-8 mt-8">
    <div class="container mx-auto px-4">
        <div class="flex flex-wrap items-start justify-between">
            <div class="w-full md:w-1/2 lg:w-1/4">
                <h3 class="text-lg font-semibold text-white">
                    Informations
                </h3>
                <ul class="mt-4">
                    <li>
                        <a href="#" class="text-gray-400 hover:text-white transition duration-300">
                            À propos
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-gray-400 hover:text-white transition duration-300">
                            Contact
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-gray-400 hover:text-white transition duration-300">
                            Politique de confidentialité
                        </a>
                    </li>
                </ul>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/4 mt-8 md:mt-0">
                <h3 class="text-lg font-semibold text-white">
                    Réseaux sociaux
                </h3>
                <ul class="mt-4">
                    <li>
                        <a href="#" class="text-gray-400 hover:text-white transition duration-300">
                            Facebook
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-gray-400 hover:text-white transition duration-300">
                            Twitter
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-gray-400 hover:text-white transition duration-300">
                            Instagram
                        </a>
                    </li>
                </ul>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/4 mt-8 md:mt-0">
                <h3 class="text-lg font-semibold text-white">
                    Services
                </h3>
                <ul class="mt-4">
                    <li>
                        <a href="#" class="text-gray-400 hover:text-white transition duration-300">
                            Web design
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-gray-400 hover:text-white transition duration-300">
                            Développement web
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-gray-400 hover:text-white transition duration-300">
                            Marketing numérique
                        </a>
                    </li>
                </ul>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/4 mt-8 md:mt-0">
                <h3 class="text-lg font-semibold text-white">Adresse</h3>
                <p class="mt-4 text-gray-400">123 Rue Principale<br>Montréal, QC<br>H0H 0H0</p>
                </div>
            </div>
        <hr class="mt-8 border-gray-700">
        <p class="mt-4 text-center text-gray-400">© 2023 PostIn Experts. Tous droits réservés.</p>
    </div>
</footer>
            