{% extends 'bootstrap.html.twig' %}

{% block header %}
{% include "bootstrap/layout/nav.html.twig" with {} %}
{% endblock %}

{% block body %}


<section id="formation" class="vh-100" style="background-color: black;">
    <div class="container h-100 d-flex flex-column justify-content-center">
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
</section>

{% endblock %}