{% extends 'layout.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<!-- Container for demo purpose -->
<div class="container my-24 mx-auto md:px-6">
  <!-- Section: Design Block -->
  <section class="flex flex-col mb-32 text-center justify-center lg:text-left">
  {% for flash_error in app.flashes('reset_password_error') %}
      <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
  {% endfor %}
    <div class="text-center w-full">
        <h2 class="mb-12 text-center text-3xl font-bold">
        Reset your password
        </h2>

        <div class="flex mx-auto justify-center w-full max-w-lg">
        {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}
            <button class="inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]">Reset password</button>
        {{ form_end(resetForm) }}

        </div>
    </div>

  </section>
  <!-- Section: Design Block -->
</div>
<!-- Container for demo purpose -->
</div>
{% endblock %}

