<!--Verically centered modal-->
<div
  data-te-modal-init
  class="fixed left-0 top-0 z-[1055] hidden h-full w-full overflow-y-auto overflow-x-hidden outline-none"
  id="singupModal"
  tabindex="-1"
  aria-labelledby="singupModalTitle"
  aria-modal="true"
  role="dialog">
  <div
    data-te-modal-dialog-ref
    class="pointer-events-none relative flex min-h-[calc(100%-1rem)] w-auto translate-y-[-50px] items-center opacity-0 transition-all duration-300 ease-in-out min-[576px]:mx-auto min-[576px]:mt-7 min-[576px]:min-h-[calc(100%-3.5rem)] min-[576px]:max-w-[500px]">
    <div
      class="pointer-events-auto relative flex w-full flex-col rounded-md border-none bg-white bg-clip-padding text-current shadow-lg outline-none dark:bg-neutral-600">

      <!--Modal body-->
      <div class="relative p-4">
        <p class="text-2xl m-4 text-center font-bold">Inscrivez-vous gratuitement</p>
        <div
          class="block rounded-lg bg-white p-6 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
          
          <a href="{{ path('app_register') }}?typology=expert">
          
          <div class="flex rounded-lg bg-white">
          <!-- Première colonne pour l'image -->
          <div class="w-1/5 flex items-center justify-center p-3 m-2">
            <img src="{{ asset('/svg/company_icon.svg') }}" alt="company" class="object-cover"></div>

            <!-- Deuxième colonne pour le texte -->
            <div class="w-3/5 flex flex-col justify-center p-2">
              <p class=" text-xl font-medium text-neutral-800 dark:text-neutral-50">
                Expert
              </p>
              <p class="">
                <span class="text-xs mx-2">
                  Je cherche des projets  
                </span>
              </p>
            </div>
            <div class="w-1/5 flex flex-col justify-center"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
          </svg>
          
            </div>
          </div>
        </a>
        </div>
        <div
          class="block rounded-lg bg-white p-6 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
          
          <a href="{{ path('app_register') }}?typology=expert">
          
          <div class="flex rounded-lg bg-white">
          <!-- Première colonne pour l'image -->
          <div class="w-1/5 flex items-center justify-center p-3 m-2">
            <img src="{{ asset('/svg/company_icon.svg') }}" alt="company" class="object-cover"></div>

            <!-- Deuxième colonne pour le texte -->
            <div class="w-3/5 flex flex-col justify-center p-2">
              <p class=" text-xl font-medium text-neutral-800 dark:text-neutral-50">
                Client
              </p>
              <p class="">
                <span class="text-xs mx-2">
                  J'ai un projet à réaliser   
                </span>
              </p>
            </div>
            <div class="w-1/5 flex flex-col justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
            </svg>
          
            </div>
          </div>
        </a>
        </div>
        </div>
      </div>

    </div>
  </div>
</div>
