<nav class="navbar navbar-expand-lg bg-black border-bottom" data-bs-theme="dark">
  <div class="container">
  <a class="navbar-brand" href="{{path('app_homepage')}}">
    <img src="{{ asset('images/logo-olona-talents.jpg')}}" alt="Olona Talents" width="122" height="50">
  </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Deposer votre annonce</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Trouver un profil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Trouver une offre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Nos formations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Nous contacter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true" href="#">Bon plan IA</a>
        </li>
      </ul>
      {% if app.user %}
        <a href="{{path('app_logout')}}" class="btn btn-dark">Déconnexion</a>
      {% else %}
        <a href="{{path('app_login')}}" class="btn btn-dark">Connexion</a>
      {% endif %}
    </div>
  </div>
</nav>