{% extends 'layout.html.twig' %}

{% block title %}
{% if success %}
{{ 'payment.success.title'|trans }}
{% else %}
{{ 'payment.failed.title'|trans }}
{% endif %}
{% endblock %}

{% block body %}
<div class="flex items-center justify-center  ">
  <div class="shadow p-8 rounded-lg">
    <div class="p-8">
      {% if success %}
        {% include "stripe/_success.html.twig" %}
      {% else %}
        {% include "stripe/_cancel.html.twig" %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
