<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>
      {% block title %}
        PostIn Experts
      {% endblock %}
    </title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery.steps@1.1.2/dist/jquery-steps.min.css">
    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </head>

  {% include 'base/navbar.html.twig' %}

  <body>
    {% block body %}{% endblock %}
  </body>
  
  {% include 'base/footer.html.twig' %}

  <script type="text/javascript" src="{{ asset('assets/js/main.js') }}"></script>
  <script type="text/javascript" src="{{ asset('assets/js/jqueryValidate.js') }}"></script>

</html>
