<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>
      {% block title %}
        Olona PostIn Experts
      {% endblock %}
    </title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
  </head>

  {% include 'layout/_navbar.html.twig' %}

  <body class="flex flex-col min-h-screen" {{ stimulus_controller('symfony/ux-swup/swup', {
    containers: ['#swup'],
    cache: false,
}) }} >
    <main id="swup" class="flex-grow bg-[#FBFBFB]">
        {% block body %}{% endblock %}
    </main>
  </body>
  {% block javascript %}{% endblock %}
  {% include 'layout/_footer.html.twig' %}
</html>
